{
  "min_version": {"type": "string", "value": "3.6.0"},
  "min_build": {"type": "string", "value": "3.6.0.633"},
  "suspicious_keywords": {
    "type": "list",
    "value": ["vm", "vmware", "virtualbox", "qemu", "xen", "hyper-v", "parallels",
        "vbox", "kvm", "virt", "virtual", "cloud", "unknown", "generic",
        "standard", "emulated", "bochs", "innotek",
        "guest"]
  }
}
