name: Build, Dockerize, and Push LogParser

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'LogParser/**'
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: LogParser

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ./LogParser
          file: ./LogParser/Dockerfile
          push: true
          tags: |
            ghcr.io/lexxn0x3/cybrail:latest
            ghcr.io/lexxn0x3/cybrail:${{ github.sha }}
